<h2>Insertar Cliente</h2>

<div>
    <label>Nombre:</label>
    <input type="text" id="nombreInsertar">
</div>

<div style="margin-top: 10px;">
    <label>Edad:</label>
    <input type="number" id="edadInsertar">
</div>

<button onclick="insertarCliente()" style="margin-top: 10px;">Insertar</button>